.lettersStyle {
    float: left;
    margin-right: 5px;
}

p {
    margin-left: 10%;
    line-height: 2em;
}

h1 {
    margin-left: 10%;
    line-height: 2em;
    font-size: 35px;
    font-weight: bold;
}